.blackbool{
    height: 220px;
    width: 220px;
    background-color: #000;
    border-radius: 50%;
    margin: auto;
    
}

.icon i{
    margin-left: 10px;
}

.bla{
    background-color: #111111;
}